---
const {} = Astro.props;
---

<section class="relative flex items-center">
  <div class="absolute inset-0 pointer-events-none mb-32" aria-hidden="true">
  </div>
  <div class="relative max-w-4xl mx-auto px-4 sm:px-6">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <div class="mb-8">
        <h2
          id="about"
          class="max-w-lg mb-2 font-sans text-2xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group"
        >
          <span class="inline-block mb-1 sm:mb-4"
            ><span
              class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
              >01.
            </span> About Me
          </span>
        </h2>
        <p id="about-text" class="text-gray-700 dark:text-gray-400 text-lg">
          Hey, I am Maxime Koitsalu (pronounced Mak-sim Kojt-salu), I'm
          currently working under the umbrella of my consulting company
          <a href="https://kokodo.se" class="font-mono-display">KOKODO</a>, as a
          Software Engineer for <a href="https://ww2.jeppesen.com/">Jeppesen</a
          >. From a very young age, I've always been interested in tech and
          science. Initially, I started web development out of my adventures on
          a relic of the past called Neopets, which then evolved to creating
          websites for private Tibia servers. It eventually became a hobby, and
          after embarking on more serious studies at Luleå University of
          Technology, I thought it would be cool to offer my skills to clients
          who want awesome web experiences, thus here we are.

          <br />
          <br />

          I have a passion for design and development, I like to create things
          that don’t just look good, but that also function on multiple levels.
          I am always eager to take on a challenge, and aim to exceed in all
          tasks I take on. I develop websites that are functional, efficient and
          that act as an excellent representation of a person or business on the
          digital landscape. I have over 5 years of experience building web apps
          and I would love to bring your digital vision to reality.
        </p>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  import ScrollReveal from "scrollreveal";
  ScrollReveal().reveal("#about");
  ScrollReveal().reveal("#about-text");
</script>
