---
const {} = Astro.props;
---

<section class="relative flex items-center">
  <div class="absolute inset-0 pointer-events-none mb-32" aria-hidden="true">
  </div>
  <div class="relative max-w-4xl mx-auto px-4 sm:px-6">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <div class="mb-8 text-center">
        <h2
          id="contact"
          class="mb-2 font-sans text-xl font-bold tracking-tight sm:text-2xl sm:leading-none lg:mb-5 group"
        >
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
            >04.
          </span> What's Next?
        </h2>
        <h2 id="title" class="text-5xl mb-6">Get in Touch</h2>
        <p id="description" class="max-w-xl mx-auto mb-4">
          I'm always happy to hear from you. Whether you have a question or just
          want to say hi, I'll try my best to get back to you!
        </p>
        <a
          id="say-hello"
          class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800"
          href="mailto:maxime.koitsalu@gmail.com"
          target="_blank"
          rel="noopener"
          >Say Hello
        </a>
      </div>
      <div></div>
    </div>
  </div>
</section>
<script>
  import ScrollReveal from "scrollreveal";
  ScrollReveal().reveal("#contact");
  ScrollReveal().reveal("#title");
  ScrollReveal().reveal("#description");
  ScrollReveal().reveal("#say-hello");
</script>
