---
import { Icon } from "astro-icon";
const {} = Astro.props;
---

<div class="email-link-container invisible lg:visible">
  <div class="email">
    <a
      class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
      href="mailto:maxime.koitsalu@gmail.com"
      target="_blank"
      rel="noopener"
      >maxime.koitsalu@gmail.com
    </a>
  </div>
</div>
<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    window
      .ScrollReveal()
      .reveal(".email-link-container", { delay: 2000, mobile: false });
  });
</script>
