---
import Icon from "astro-icon";
const {} = Astro.props;
---

<header
  class="fixed top-0 z-40 flex-none mx-auto w-full bg-white/90 dark:bg-slate-900/90 backdrop-blur-sm border-b dark:border-b-0"
>
  <div class="py-3 px-3 mx-auto w-full md:flex md:justify-between md:px-7">
    <div class="flex justify-between">
      <a id="home" class="flex items-center" href="/">
        <span
          class="font-mono-display self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white"
          >MK
        </span>
      </a>
      <div class="flex items-center md:hidden">
        <button
          type="button"
          class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
          aria-label="Toggle between Dark and Light mode"
          onclick="window.toggleDarkMode()"
        >
          <Icon class="w-6 h-6" name="iconoir:sun-light" />
        </button>
        <button
          class="ml-1.5 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
          aria-label="Toggle Menu"
          onclick="toggleMenu()"
        >
          <Icon class="w-6 h-6" name="iconoir:menu" />
        </button>
      </div>
    </div>
    <nav
      aria-label="Main navigation"
      id="menu"
      class="flex items-center w-full md:w-auto text-gray-600 dark:text-slate-200"
    >
      <ul
        class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base"
      >
        <li
          class="navbar-item"
          data-sr-id="3"
          style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s, transform 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s;"
        >
          <a
            id="about-nav"
            class="font-medium hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-blue-500 hover:to-pink-500 decoration-gray-900 dark:decoration-slate-200 px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="#about"
          >
            <span
              class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
              >01.&nbsp;</span
            >About
          </a>
        </li>
        <li
          class="navbar-item"
          data-sr-id="4"
          style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s, transform 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s;"
        >
          <a
            id="experience-nav"
            class="font-medium hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-blue-500 hover:to-pink-500 decoration-gray-900 dark:decoration-slate-200 px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="#experience"
          >
            <span
              class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
              >02.&nbsp;</span
            >Experience
          </a>
        </li>
        <li
          class="navbar-item"
          data-sr-id="5"
          style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s, transform 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s;"
        >
          <a
            id="work-nav"
            class="font-medium hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-blue-500 hover:to-pink-500 decoration-gray-900 dark:decoration-slate-200 px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="#work"
          >
            <span
              class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
              >03.&nbsp;</span
            >Work
          </a>
        </li>
        <li
          class="navbar-item"
          data-sr-id="6"
          style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s, transform 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s;"
        >
          <a
            id="contact-nav"
            class="font-medium hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-blue-500 hover:to-pink-500 decoration-gray-900 dark:decoration-slate-200 px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="#contact"
          >
            <span
              class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
              >04.&nbsp;</span
            >Contact
          </a>
        </li>
        <li
          class="navbar-item flex items-center"
          data-sr-id="7"
          style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s, transform 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.3s;"
        >
          <a
            id="resume"
            class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
            href="/Maxime-Koitsalu-Resume.pdf"
            target="_blank"
            rel="noopener"
          >
            <span>Resume</span>
          </a>
        </li>
        <!-- Optional small divider or spacing if you like -->
        <li>
          <div
            data-sr-id="8"
            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.9s, transform 0.6s cubic-bezier(0.45, 0, 0.55, 1) 0.9s;"
            class="hidden md:flex border-l ml-4 mr-2 dark:border-slate-300 border-gray-900 h-4"
          >
          </div>
        </li>
        <li class="hidden md:flex items-center mr-3">
          <button
            id="toggle"
            type="button"
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
            aria-label="Toggle between Dark and Light mode"
            onclick="window.toggleDarkMode()"
          >
            <svg
              viewBox="0 0 24 24"
              class="w-6 h-6"
              astro-icon="iconoir:sun-light"
            >
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
              >
                <path
                  d="M12 18a6 6 0 1 0 0-12 6 6 0 0 0 0 12zM22 12h1M12 2V1M12 23v-1M20 20l-1-1M20 4l-1 1M4 20l1-1M4 4l1 1M1 12h1"
                ></path>
              </g>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    window.ScrollReveal().reveal("#header", {
      duration: 1000,
      easing: "cubic-bezier(0.45, 0, 0.55, 1)",
    });
    window.ScrollReveal().reveal("#home", {
      duration: 1000,
      easing: "cubic-bezier(0.45, 0, 0.55, 1)",
    });
    window.ScrollReveal({ distance: "50px" });
    window.ScrollReveal().reveal(".navbar-item", {
      delay: 300,
      interval: 100,
      easing: "cubic-bezier(0.45, 0, 0.55, 1)",
      origin: "top",
      mobile: false,
    });
    window.ScrollReveal().reveal(".nav-group", {
      delay: 900,
      origin: "top",
      easing: "cubic-bezier(0.45, 0, 0.55, 1)",
    });
  });
</script>
