---
import Picture from "~/components/core/Picture.astro";
const {} = Astro.props;
---

<section id="index" class="h-screen">
  <div class="h-100 max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-6 md:py-10">
      <div class="text-center pb-6 md:pb-8">
        <h1
          id="hero-title"
          class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4"
        >
          Hello, I am
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
            >Maxime.
          </span>
        </h1>
        <div class="max-w-3xl mx-auto">
          <p
            id="hero-subtitle"
            class="text-xl text-gray-600 mb-8 dark:text-slate-400"
          >
            Software Engineer — Web Developer
          </p>
        </div>
      </div>
      <div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <div class="atropos">
              <div class="atropos-scale">
                <div class="atropos-rotate">
                  <div class="atropos-inner">
                    <Picture
                      src={import("~/assets/images/hero.jpg")}
                      class="mx-auto rounded-xl shadow-lg bg-gray-400 dark:bg-slate-700"
                      widths={[500, 500]}
                      sizes=" (max-width: 767px) 400px, 400px"
                      alt="Hero Image"
                      aspectRatio="1:1"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="scroll-down" class="mx-auto text-center">
        <a href="#about"><span></span></a>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    window.Atropos({
      el: ".atropos",
    });
    window.ScrollReveal({ delay: 1100 }).reveal("#hero-title", {
      duration: 200,
      origin: "bottom",
      easing: "cubic-bezier(0.45, 0, 0.55, 1)",
    });
    window.ScrollReveal({ delay: 1350 }).reveal("#hero-subtitle", {
      duration: 500,
      origin: "bottom",
      easing: "cubic-bezier(0.45, 0, 0.55, 1)",
    });
    window.ScrollReveal({ delay: 1750 }).reveal("#hero-image", {
      duration: 500,
      origin: "bottom",
      easing: "cubic-bezier(0.45, 0, 0.55, 1)",
    });
    window.ScrollReveal({ delay: 2200 }).reveal("#scroll-down", {
      duration: 500,
      origin: "bottom",
      easing: "cubic-bezier(0.45, 0, 0.55, 1)",
    });
  });
</script>

<style>
  #scroll-down {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #scroll-down a {
    padding-top: 60px;
    position: relative;
  }
  #scroll-down a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 14px;
  }
  #scroll-down a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: "";
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scrollButtonAnimation 2s infinite;
    animation: scrollButtonAnimation 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes scrollButtonAnimation {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
