---
import { Icon } from "astro-icon";
const {} = Astro.props;
---

<div class="social-links invisible lg:visible">
  <ul>
    <li>
      <a
        href="https://github.com/MaximeKoitsalu"
        class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        target="_blank"
        rel="noopener"
        ><Icon class="w-6 h-6" name="iconoir:github-outline" />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/kottartillsalu/"
        class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        target="_blank"
        rel="noopener"
        ><Icon class="w-6 h-6" name="iconoir:instagram" />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/maximekoitsalu/"
        class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        target="_blank"
        rel="noopener"
        ><Icon class="w-6 h-6" name="iconoir:linkedin" />
      </a>
    </li>
    <li>
      <a
        href="https://codepen.io/MaximeKoitsalu"
        class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        target="_blank"
        rel="noopener"
        ><Icon class="w-6 h-6" name="iconoir:codepen" />
      </a>
    </li>
  </ul>
</div>
